/* Reset Rule and Formatting */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

article,
aside,
footer,
header,
main, {
    display: block;
}

/* Text Formatting */
h1 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-family: 'Questrial';
    font-size: 1.5rem;
    color: white;
    padding: 10px 0 10px 0;
    padding-top: 1em;
}

ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2.5px;
    font-size: 0.8rem;
    text-align: center;
    list-style-type: none;
    color: white;
    text-shadow: black 1px 0 10px;
}

p {
    padding-top: 10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: black 1px 0 10px;
}

li {
    padding-bottom: 0.5em;
}

li:last-child {
    padding-bottom: 1.2em;
}

.li {
    padding-bottom: 15px;
}

.lit {
    margin-top: 10px;
}

hr {
    height: 1px;
    background-color: #fefefe; /* White */
    max-width: 320px;
    width: 100%;
    margin: auto;
}

#special {
    font-family: 'Montserrat';
    letter-spacing: 3.5px;
    text-shadow: black 1px 0 10px;
}

.video {
    height: 100vh;
}

/* Headshot Content */
main {
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

#headshot {
    max-width: 200px;
    width: 100%;
}

/* Personal Logo */
#headerlogo {
    margin: auto;
}

/* Main Content Wrapper - Flexbox Model */
.wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    padding: 2em;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

#canvas-holder {
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-bottom: 2.5em;
}

#canvas-holder2 {
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.footer {
    background: rgba(192, 192, 192, 0.3);
}

.main {
    background: rgba(192, 192, 192, 0.5);
}

.aside-1 {
    background: rgba(255, 0, 0, 0.3);
}

.aside-2 {
    background: rgba(0, 0, 255, 0.3);
}

aside img {
    width: 100%;
    max-width: 360px;
    margin-bottom: 2.5em;
    margin-top: 1.2em;
}

html {
    background-color: black; /* Like the endless void of Space! */
}

/* Flexbox Media Queries */
@media all and (min-width: 600px) {

    .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {

    .main {flex: 3 0; }

    .aside-1 {order: 1; }

    .main {order: 2; }

    .aside-2 {order: 3; }

    .footer {order: 4; }
}

/* The charts are responsive until they get to lower sizes - the text is also too tiny to read at this size so I made the decision for formatting's sake to remove the charts and footer at small sizes - the charts will still display on most phones and tablets.  */
@media all and (max-width: 601px) {

    .aside-2,
    .footer {display: none;}
}

/* LinkedIn Sprite */
.my-image {
    background-image: url("http://www.syncura.net/downloads/image_sprite_1800_600.png");
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 20px;
    background-position: 780px 60px;
    background-size: 360px;
}

.my-image:hover {
    background-position: 780px 0;
}

/*  Hang on Hover Animation */
@-webkit-keyframes hvr-hang {

    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes hvr-hang {

    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@-webkit-keyframes hvr-hang-sink {

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

@keyframes hvr-hang-sink {

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
}

.hvr-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.hvr-hang:hover,
.hvr-hang:focus,
.hvr-hang:active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}
